* {
    outline 1px dotted red;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
}

body {
    color: #f3f3f3;
    font-family: Tahoma, Arial, sans-serif;
    background: #535050;
}

.page {
    width: 784px;
    margin: 65px auto 0;
}

/*---------------------------------------------------- Header */

.header {
    height: 164px;
}

.header a {
    width: 196px;
    height: 164px;
    float: left;
    text-decoration: none;
    font-size: 28px;
    color: #f3f3f3;
    padding-top: 75px;
}

.header a:nth-child(1) {
    background-image: url("../image/menu_1.gif");
    padding-left: 13px;
}

.header a:nth-child(2) {
    background-image: url("../image/menu_2.gif");
    padding-left: 17px;
}

.header a:nth-child(3) {
    background-image: url("../image/menu_3.gif");
    padding-left: 31px;

}

.header a:nth-child(4) {
    background-image: url("../image/menu_4.gif");
    padding-left: 51px;
}

/*------------------------------------------------------ Content */

.content {
    height: 756px;
}



/*--------------------------------------------- Footer */

.footer {
    width: auto;
    height: 47px;
    margin: auto;
    background-color: #585555;
    border-top: 1px solid #4d4a4a;
}

.footer p {
    margin-left: 253px;
    margin-top: 6px;
    font-size: 14px;
    word-spacing: 11px;
}



