* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
}

body {
    color: #f3f3f3;
    font-family: Tahoma, Arial, sans-serif;
    background: #535050;
}

.page {
    width: 784px;
    margin: 65px auto 0;
}

.page a {
    color: #efcfa5;
}

/*------------------------------------------------------ Header */

.header {
    height: 164px;
}

.header a {
    width: 196px;
    height: 164px;
    float: left;
    padding-top: 83px;
}

.header a:nth-child(1) {
    background-image: url("../image/menu_1.gif");
    padding-left: 14px;
}

.header a:nth-child(2) {
    background-image: url("../image/menu_2.gif");
    padding-left: 18px;
}

.header a:nth-child(3) {
    background-image: url("../image/menu_3.gif");
    padding-left: 32px;

}

.header a:nth-child(4) {
    background-image: url("../image/menu_4.gif");
    padding-left: 52px;
}

/*------------------------------------------------------ Content */

.content {
    height: 774px;
    padding: 42px 0 0 0;
}

.module {
    background-color: #5f5c5c;
    border-top: 6px solid #7e7e7e;
}

.module img {
    border: 5px solid #ede1d2;
    float: left;
    margin: 8px 25px 8px 0;
}

.module h3 {
    font-weight: normal;
    font-size: 20px;
    color: #efcfa5;
}

.module--about {                    /*----about----*/
    width: 468px;
    height: 153px;
    margin: 0 0 41px 3px;
    float: left;
    padding-left: 10px;
}

.module--about h3 {
    margin: -35px 0 22px -10px;
}

.module--about p {
    line-height: 135%;
    padding-right: 10px;
}

.module--testimonials {             /*----testimonials----*/
    width: 280px;
    height: 199px;
    float: right;
    background-color: #535050;
    margin: 0 3px 41px 0;
}

.module--testimonials h3 {
    color: #a1c6dd;
    margin: -35px 0 24px 0;
}

h4 {
    font-size: 14px;
    color: #a1c6dd;
    margin-bottom: 13px;
}

.module--testimonials h4:nth-child(3) {
    margin-left: 160px;
}

.module--testimonials h4:nth-child(5) {
    margin-left: 181px;
}

.module--testimonials p {
    font-size: 13px;
    line-height: 165%;
    padding-right: 60px;
    margin: 0 0 13px 15px;
}

.module--featured-project {         /*----featured-project----*/
    width: 422px;
    height: 191px;
    float: left;
    padding-left: 13px;
    margin-left: 3px;
}

.module--featured-project h3 {
    margin: -35px 0 22px -13px;
}

.module--featured-project p:nth-child(4) {
    margin-top: 8px;
    line-height: 135%;
}

.module--recent-projects {           /*----recent-projects----*/
    width: 332px;
    height: 385px;
    float: right;
    margin-right: 3px;
    padding-left: 13px;
}

.module--recent-projects h3 {
    margin: -35px 0 22px -13px;
}

.module--recent-projects p:nth-child(4) {
    clear: left;
}
/*---------------------------------------------------------- Footer */

.footer {
    width: auto;
    height: 47px;
    margin: auto;
    background-color: #585555;
    border-top: 1px solid #4d4a4a;
    font-size: 14px;
    word-spacing: 11px;
    text-align: center;
    padding-top: 4px;
}




